<<<<<<< HEAD

/* body used to controle the font for the entire applications */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background: no-repeat url("https://pm1.narvii.com/5795/052bf34e36dd9840ade8ab3005c483f61b7a6013_hq.jpg");
  background-size: cover;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/* math button */
#add{
  height: 125px;
  width: 12%;
  border-radius: 50%;
}
/* sub button */
#sub{
  height: 125px;
  width: 12%;
  border-radius: 50%;
}
/* mul button */
#mul{
  height: 125px;
  width: 12%;
  border-radius: 50%;
}
/* div button */
#div{
  height: 125px;
  width: 12%;
  border-radius: 50%;
}
=======
/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}



/******************************************
/* LAYOUT
/*******************************************/


/* MOBILE */
@media only screen and (max-width: 768px){

}
@media (min-width: 769px) and (max-width: 1024px){
  section{
    width: 100%;
  }
}



body{
  text-align: center;
  background: rgb(204, 255, 255);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1{
  font-size: 28px;
  color: orange;
  text-decoration: underline;
  text-decoration-style: wavy;
}
input{
  font-size: 22px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.main{
  height: 350px;
  width: 40%;
  background: rgb(77, 166, 255);
  border: 5px solid silver;
  border-radius: 5%;
  margin-left: 30%;
  padding-left: 3%;
}
.main section{
  height: 130px;
  width: 42%;
  background: turquoise;
  margin: 18px 2% 12px 2%;
  color: navy;
  border: 4px solid lightgray;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  float: left;
}

#lion{
  background: rgb(255, 153, 187);
}

#tiger{
  background: lime;
}
#bear{
  background: orange;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}



/******************************************
/* LAYOUT
/*******************************************/


/* MOBILE */
@media only screen and (max-width: 768px){

}
@media (min-width: 769px) and (max-width: 1024px){
  section{
    width: 100%;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
>>>>>>> 457855fe4e6fc6d03580ff2946d0f5e00c8ec09d
